[submodule "doti3/i3_kde_KLI"]
	path = doti3/i3_kde_KLI
	url = git@github.com:ViktorWalter/i3_kde_KLI.git
[submodule "doti3/i3"]
	path = doti3/i3
	url = git@github.com:sLite/i3.git
[submodule "doti3/i3_kde_NVI"]
	path = doti3/i3_kde_NVI
	url = git@github.com:ViktorWalter/i3_kde_NVI.git
[submodule "doti3/i3scripts"]
	path = doti3/i3scripts
	url = git@github.com:justbuchanan/i3scripts.git
[submodule "doti3/conky-draw"]
	path = doti3/conky-draw
	url = https://github.com/fisadev/conky-draw.git
[submodule "doti3/bitmap-fonts"]
	path = doti3/bitmap-fonts
	url = https://github.com/Tecate/bitmap-fonts
